body {
    background-color: rgb(250, 250, 250);
    font-family: Sans-serif;
}


div.header {
    background-color: black;
    margin: 0;
    padding-right: .5rem;
   
}

div.header #login{
    display: inline;
    float: right;
    padding: 25px;
    margin: 5px;
}

div.header #login form.button_to input{
        background-color:rgb(245, 210, 68) ;
        border: none;
        color: black;
        padding: 6px 18px;
        text-align: center;
        text-decoration: none;
        display: block;
        cursor: pointer;
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
     
}

div.header #login .user{
    color: rgb(245, 210, 68);
    float: center;
}

div.header div#login p.nologgin{
    color: rgb(245, 210, 68);
}

div.header div#login p.user a:visited{
    color: rgb(245, 210, 68);
    outline: none;
}

div.nav {
    margin: 0;
    padding: 0;
    background-color: rgb(137,25,189);
}

ul.navlist{

    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.navitems{
    font-size: x-large;
    display: inline;
    padding: 30px;
}   

li.navitems a:link {
    color:  rgb(245, 210, 68);
}

li.navitems a:visited {
    color: rgb(245, 210, 68);
    outline: none;
}

li.navitems a:hover {
    font-size: 150%;
}


/* SHOW INDEX PAGE */
/*body {
    background-image: url("https://i.pinimg.com/originals/5d/57/d9/5d57d9184a2e672f999cec9e3d0afcf8.jpg")
}*/
.show_header {
    text-align: center;
    font-size: 35px;
    font-family: Sans-serif;
    background-color: rgba(198, 139, 218, 0.365);
    padding: 0;
    margin-top: 0;

    
}

div.list ul.show {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.list li {
    list-style-type: none;
    border: 1px solid goldenrod;
    height: 18rem;
    width: 12rem;
    box-shadow: .1rem .15rem rgb(174, 127, 192);
}

 .poster{
  margin: 5px;
  border: 1px solid black;
  float: left;
  width: 180px;
}

.poster:hover {
  border: 1px solid mistyrose;
}

.poster img {
    display: flex;
    height: auto;
    width: 12rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0px;
}


/*{
  width: 100%;
  height: auto;
}*/

.show_name {
    margin: 0;
    padding: 0px;
    text-align: center;
    font-family: Sans-serif;
}
/*#######Show_path#######*/
div#show h1.elements{
    text-align: center;
    font-size: 35px;
    font-family: Sans-serif;
    background-color: rgba(198, 139, 218, 0.365);
    padding: 0;
    margin-top: 0;
    border-top: .1rem solid rgba(0, 0, 0, 0.502);
    border-bottom: .07rem solid rgba(0, 0, 0, 0.208);
}
div#show_index form{
    float: right;
    margin-left: 80%;
    margin-right: 5%;
    display: inline;
}

div#show div.row{
    display: flex;
    border: .001rem solid rgba(0, 0, 0, 0.125);
}

div#show div.pageimg.column{
    height: auto;
    flex: 35%;
    margin: 0;
}

div#show div.pageimg img {
    height: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    display: flex;
}

div#show div.row div.column.ptag{
    flex: 65%;
}

div#show p.elements.descript {
    float: right;
    height: auto;
    width: 100%;
    display: inline;
}

div#show p.elements{
    border-bottom: .001rem solid rgba(0, 0, 0, 0.125);
}

div#show h3.elements{
    border-bottom: .001rem solid rgba(0, 0, 0, 0.125);
}


/*######Actor_path######*/

div#actorindex h1{
    text-align: center;
    font-size: 35px;
    font-family: Sans-serif;
    background-color: rgba(198, 139, 218, 0.365);
    padding: 0;
    margin-top: 0;
    border-top: .1rem solid rgba(0, 0, 0, 0.502);
    border-bottom: .07rem solid rgba(0, 0, 0, 0.208);
}

div#actorindex div.row{
    display: flex;
    border: .001rem solid rgba(0, 0, 0, 0.125);
}

div#actorindex div.pic.column{
    height: auto;
    flex: 35%;
    margin: 0;
}

div#actorindex div.pic.column img {
    height: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    display: flex;
}

div#actorindex div.row div.column.ptag{
    flex: 65%;
}

div#actorindex p.element{
    border-bottom: .001rem solid rgba(0, 0, 0, 0.125);
}

/*####### Character #######*/

div#character h1{
    text-align: center;
    font-size: 35px;
    font-family: Sans-serif;
    background-color: rgba(198, 139, 218, 0.365);
    padding: 0;
    margin-top: 0;
    margin-bottom: .0;
    border-top: .1rem solid rgba(0, 0, 0, 0.502);
    border-bottom: .07rem solid rgba(0, 0, 0, 0.208);
}

div#character h4{
    text-align: center;
    font-size: 20px;
    font-family: Sans-serif;
    padding: 0;
    margin-top: 0;
    border-bottom: .07rem solid rgba(0, 0, 0, 0.208);
}

div#character p{
    border-bottom: .001rem solid rgba(0, 0, 0, 0.125);
    padding-bottom: 1rem;
}

div#character ul{
    border-bottom: .001rem solid rgba(0, 0, 0, 0.125);
    padding-bottom: 1rem;
}

/*#######Actor Index###########*/

div#actorindex h1{
        text-align: center;
        font-size: 35px;
        font-family: Sans-serif;
        background-color: rgba(198, 139, 218, 0.365);
        padding: 0;
        margin-top: 0;
        border-top: .1rem solid rgba(0, 0, 0, 0.502);
        border-bottom: .07rem solid rgba(0, 0, 0, 0.208);
}

div#actorindex div.list ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

div#actorindex div.list p#features{
    font-size: x-large;
    border-bottom: .001rem solid rgba(0, 0, 0, 0.125);
}

div#actorindex div.list ul li{
    list-style-type: none;
    border: 1px solid goldenrod;
    height: 18rem;
    width: 12rem;
    box-shadow: .1rem .15rem rgb(174, 127, 192);
    margin: 5px;
}

div#actorindex div.list ul li img{
    display: flex;
    max-height: 16rem;
    width: 12rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0px;
}


/*#######Creative Index###########*/

div#creativeindex h1{
    text-align: center;
    font-size: 35px;
    font-family: Sans-serif;
    background-color: rgba(198, 139, 218, 0.365);
    padding: 0;
    margin-top: 0;
    border-top: .1rem solid rgba(0, 0, 0, 0.502);
    border-bottom: .07rem solid rgba(0, 0, 0, 0.208);
}

div#creativeindex div.list p#feature{
    font-size: x-large;
    border-bottom: .001rem solid rgba(0, 0, 0, 0.125);
}

div#creativeindex div.list ul{
list-style-type: none;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}

div#creativeindex div.list ul li{
list-style-type: none;
border: 1px solid goldenrod;
height: 18rem;
width: 12rem;
box-shadow: .1rem .15rem rgb(174, 127, 192);
margin: 5px;
}

div#creativeindex div.list ul li a{
    margin: 0;
    padding: 0px;
    text-align: center;
    font-family: Sans-serif;
    
}

div#creativeindex div.list ul li img{
display: flex;
max-height: 16rem;
width: 12rem;
margin-left: auto;
margin-right: auto;
padding-bottom: 0px;
}

/*######creative_path######*/

div#creativeindex h1{
    text-align: center;
    font-size: 35px;
    font-family: Sans-serif;
    background-color: rgba(198, 139, 218, 0.365);
    padding: 0;
    margin-top: 0;
    border-top: .1rem solid rgba(0, 0, 0, 0.502);
    border-bottom: .07rem solid rgba(0, 0, 0, 0.208);
}

div#creativeindex div.row{
    display: flex;
    border: .001rem solid rgba(0, 0, 0, 0.125);
}

div#creativeindex div.pic.column{
    height: auto;
    flex: 35%;
    margin: 0;
}

div#creativeindex div.pic.column img {
    height: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    display: flex;
}

div#creativeindex div.row div.column.ptag{
    flex: 65%;
}

div#creativeindex p.element{
    border-bottom: .001rem solid rgba(0, 0, 0, 0.125);
}

/*#########Admin Show########*/

div#adminshow h1{
    text-align: center;
    font-size: 35px;
    font-family: Sans-serif;
    background-color: rgba(198, 139, 218, 0.365);
    padding: 0;
    margin-top: 0;
    border-top: .1rem solid rgba(0, 0, 0, 0.502);
    border-bottom: .07rem solid rgba(0, 0, 0, 0.208);
}

div#adminshow ul{
    border-bottom: .001rem solid rgba(0, 0, 0, 0.125);
    padding-bottom: 1rem;
}

div#adminshow ul li{
    list-style-type: none;
    border: 1px solid black;
    height: 6rem;
    width: 14rem;
    margin: 5px;
    font-size: x-large;
    padding: 1rem;
}